
$color-default: #FFFFFF;
$color-member-title: #F90F49;
$color-bg-label: #F90F49;
$color-bg-slogan: #F90F49;
$color-bg-nav: #360836;
$color-text-hover-nav: #FF5E8B;
$color-text-hover-project: #F90F49;
$color-footer: #E5E4E4;
$color-footer-link: #F90F49;

