
$font-family-serif : Georgia, serif;
$font-family-sans-serif: sans-serif;

/*banner--------------------------------------------------------*/

/*web folk*/
$web-folk-font-size: 50px;
$folk-font-family: 'Lobster Two', cursive;

/*web design studio*/
$studio-font-size: 20px;

/*banner-text*/
$banner-text-font-size: 14px;

/*projects--------------------------------------------------------*/

/*work & client*/
$work-client-font-size: 20px;

/*projects*/
$project-font-size: 25px;

/*slogan*/
$slogan-font-size: 18px;

/*meet the folk*/
$meet-the-folks-font-size: 25px;

/*members' name*/
$member-name-font-size: 30px;

/*members' job*/
$member-job-font-size: 14px;

/*intro--------------------------------------------------------*/

$intro-title-font-size: 32px;
$intro-text-font-size: 16px;


$footer-font-size: 16px;

