$color-header-bg: #000;
$color-card-bg: #E6E6E6;
$color-card-bg-hover: rgba(90,89,89,0.8);
$color-font-card-hover: #fff;
$color-font-news-date: #fff;
$searchbar-bg: #fff;
//main color
$color-light-green: #8CB437;
$color-light-gray: #E6E6E6;
$color-normal-gray: #9E9B9B;
$border-light-gray: #DCD7D7; 