

h3{
	font-size: 22px;
	font-weight: 400;
	line-height: 4rem;
	letter-spacing: 3px;
}

h4{
	font-size: 20px;
	font-weight: 400;
	line-height: 3rem;
}

h5{
	font-size: 18px;
	font-weight: normal;
}

.article-content p{
	font-size: 12px;
}

.nav-link{
	font-size: 13px;
}

.footer-nav{
	font-size: 12px;
}