*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #525050;
	height: 104px;
	text-align: center;
}

.head{
	width: 926px;
	position: relative;
	text-align: left;
	display: inline-block;
}

.menu{
    display: inline-block;
    margin-left: 30px;
}

#home{
	font-weight: bold;
}

.menu li{
	display: inline-block;
	color: #bdbcbc;
	font-size: 13px;
	padding: 0 30px;
}

.menu li:hover{
	cursor: pointer;
}

#shop{
	width: 30px;
	position: absolute;
	top: 35px;
	right: 5px;
}

.logo{
	color: #bdbcbc;
	font-size: 20px;
	line-height: 104px;
	letter-spacing: 8px;
	font-weight: 800;
}

.banner{
	background-image: url("img/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 630px;
	position: relative;
	background-position: center;

}

.banner-text{
	height: 200px;
	width: 600px;
	background-color: rgb(229, 224, 215, 0.5);
	position: absolute;
    top: calc(50% - 100px);
    text-align: center;
	left: calc(50% - 300px);
}

.banner-text p{
	font-size:30px;	
}

.banner-text h1{
	padding: 20px 0px;
	font-size: 60px;
}

button{
	background-color: black;
	color: white;
	font-size: 18px;
	padding: 15px 80px;
	border: 0px;
	cursor: pointer;
}

.banner_bottom{
	background-color: #E4E4E4;
	text-align: center;
	color: black;
	padding: 15px 0px;
	font-size: 15px;
	letter-spacing: 2px;
}

.information{
	text-align: center;
}

.information h2{
	font-family: PT serif;
	padding: 65px 0px 30px 15px;
	letter-spacing: 12px;
	font-size: 35px;
}

.information h3{
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 4px;
	padding-bottom: 70px;
}

hr{
	width: 40px;
	margin: auto;
	margin-bottom: 32px;
}

.photo{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;

}

.demo-dress{
	background-image: url(img/left.png);
	width: 300px;
	height: 450px;
	display: inline-block;
	background-position: center;
}

.demo-bag{
	background-image: url(img/middle.png);
	width: 300px;
	height: 450px;
	display: inline-block;
	background-position: center;
}

.demo-glass{
	background-image: url(img/right.png);
	width: 300px;
	height: 450px;
	display: inline-block;
	background-position: center;
}

footer{
	background-color: #525050;
	height: 150px;
	text-align: center;
	padding-top: 75px;
}

footer p {
 	font-size: 10px;
 	color: white;
 	letter-spacing: 2px;

}

.footer-connected{
	display: inline-block;
	width: 300px;
	text-align: left;
}

.footer-connected p{
	color: white;
	width: 300px;
	padding-left: 28px;
}

.footer-connected a{
	color: white;
	text-decoration: none;
	font-size: 17px;
	margin-left: 28px;
	margin-top: 11px;
}

.footer-form{
	vertical-align: top;
	width: 310px;
	display: inline-block;
	letter-spacing: 1px;
}

form{
	font-size: 12px;
	text-align: left;
	color: white;
}

input[type=text]{
	margin: 8px 0px;
	border: 1px solid white;
	background: transparent;
	padding: 4px 154px 9px 5px;
	text-align: left;
	color: white;
	font-size: 14px;
}

input[type=submit]{
    background-color: #e7e3e0;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 224px;
}
input::placeholder { 
    color: white;
    opacity: 1; 
}


.footer-contact{
	vertical-align: top;
	width: 300px;
	display: inline-block;
}

.footer-contact p{
	padding-bottom: 10px;
}

.copyright{
	padding-top: 30px;
}

.footer-title{
	color: #E7E3E0;
	letter-spacing: 5px;
}

#wix{
	text-decoration: none;
	color: white;
	border-bottom: 1px solid black;
}
