/* header */
header{
	background-color: #525050;
	height: 104px;
	text-align: center;
}

header .logo{
	color: #bdbcbc;
	font-size: 20px;
	line-height: 104px;
	letter-spacing: 8px;
	font-weight: 800;
}

header .header-container{
	width: 926px;
	position: relative;
	text-align: left;
	display: inline-block;
}

header .menu{
    display: inline-block;
    margin-left: 30px;
}

header .menu li:first-child a{
	font-weight: bold;
}

header .menu li{
	display: inline-block;
	color: #bdbcbc;
	font-size: 13px;
	padding: 0 30px;
}

header .menu li:hover{
	cursor: pointer;
}

header .shop-icon{
	width: 30px;
	position: absolute;
	top: 35px;
	right: 5px;
}
/* main */

#banner .banner-container{
	background-image: url("img/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 630px;
	position: relative;
	background-position: center;

}

#banner .banner-text{
	height: 200px;
	width: 600px;
	background-color: rgb(229, 224, 215, 0.5);
	position: absolute;
  top: calc(50% - 100px);
	left: calc(50% - 300px);
  text-align: center;
}

#banner .banner-text h1{
	padding: 20px 0px;
	font-size: 60px;
}

#banner .banner-text button{
	background-color: black;
	color: white;
	font-size: 18px;
	padding: 15px 80px;
	border: 0px;
	cursor: pointer;
}

#banner .banner-tip{
	background-color: #E4E4E4;
	text-align: center;
	color: black;
	padding: 15px 0px;
	font-size: 15px;
	letter-spacing: 2px;
}


#sell-items .title-wrap{
	text-align: center;
}

#sell-items .title{
	font-family: PT serif;
	padding: 65px 0px 30px 15px;
	letter-spacing: 12px;
	font-size: 35px;
}

#sell-items .subtitle{
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 4px;
	padding-bottom: 70px;
}

#sell-items hr{
	width: 40px;
	margin: auto;
	margin-bottom: 32px;
}

#sell-items .items{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 100px;
}

#sell-items .item{
	width: 300px;
	height: 450px;
	display: inline-block;
	background-position: center;
}

#sell-items .pic-dress{
	background-image: url(img/left.png);
}

#sell-items .pic-bag{
	background-image: url(img/middle.png);
}

#sell-items .pic-glass{
	background-image: url(img/right.png);	
}

/* footer */
footer{
	background-color: #525050;
	height: 150px;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 30px;
	color: white;
	font-size: 12px;
}

footer .footer-title{
	font-size: 12px;
	letter-spacing: 2px;
}

footer .social{
	display: inline-block;
	width: 300px;
	text-align: left;
}

footer .social-container{
	width: 200px;
	margin: 0 auto;
}

footer .social-title {
	padding-left: 10px;
}

footer .social a{
	font-size: 17px;
	padding: 10px;
}

footer .newsletter{
	vertical-align: top;
	width: 300px;
	display: inline-block;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: left;
}

footer .newsletter input[type=text]{
	margin: 8px 0px;
	border: 1px solid white;
	background: transparent;
	width: 100%;
	height: 30px;
	text-align: left;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 10px;
}

footer .newsletter button{
    background-color: #e7e3e0;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
		margin-left: auto;
}

footer .newsletter input::placeholder { 
    color: white;
    opacity: 1; 
}

footer .contact{
	vertical-align: top;
	width: 300px;
	display: inline-block;
}

footer .contact p{
	padding-bottom: 5px;
}

footer .copyright{
	padding-top: 30px;
}

footer .copyright a{
	border-bottom: 1px solid black;
}
